.Cards{
    border-radius: 20px;
    background: #025951;
    color:#0CF25D;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap:30px
}
.error{
    color:red;
    font-weight: 700;
}