.Cards{
    border-radius: 20px;
    background: #025951;
    color:#0CF25D;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap:30px
}
.error{
    background:#02735e;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
}