img{
    width: 100px;
    height: 100px;
}

.Card{
    border:1px solid white;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #0CF25D, 0 0 10px #0CF25D;
    transition: box-shadow 300ms ease-in-out;

    padding:10px;
    width: 150px;
    height: 230px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.Card:hover{
    box-shadow: inset 0 0 5px #0CF25D,0 0 20px #038C3E;
}

.link{
    text-decoration: none;
    color:#0CF25D;
}

.link:hover{
    color:#038C3E;
}